  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

:root
{
    --logo2:#25aae1;
    --logo1:#2e348e;
    --textcolor:#0a1068;
}

h1,h2,h3,h4,h5,h6
{
    margin:0;
    color: var(--textcolor);
}
p
{
    margin:0;
}

#main
{

}

/* HEADER SECTION */
.top-header
{
    background:linear-gradient(90deg, var(--logo2),var(--logo1));
    padding:8px 0;
}
.top-header .content
{
    display: flex;
    justify-content: end;
}
.top-header .content p, .top-header .content span
{
    color:#fff;
    margin:0;
    font-size: 14px;

}
.top-header .content p
{
    padding:0 20px;
}


#header
{
    width: 100%;
    z-index: 999;
    position: fixed;
}
#navbar
{

}
#header .navbar
{
    padding:10px 3%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    /* box-shadow: 0 0 30px #00000010; */
    transition: .3s ease;
}
.nav-active
{
    background: #fff !important;
    box-shadow: 0 0 30px #00000010;
}
#header .navbar .logo-div
{
    width: 80px;
}
#header .navbar .navbar-collapse
{
    justify-content: end;
}
#header .navbar .navbar-collapse .navbar-nav
{
    margin:0 !important;
}
.navbar .navbar-nav .nav-link
{
    color: var(--logo1) !important;
    font-weight: 500;
    transition: .3s ease;
}
.navbar .navbar-nav .nav-link:hover
{
    color: var(--logo2) !important;
}


.navbar-collapse .dropdown-menu[data-bs-popper]
{
    padding: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    width: 70% !important;
    border: none;
    box-shadow: 0 0 30px #00000010;
    border-radius: 20px;
    overflow: hidden;
}
.navbar-collapse .dropdown-menu .first-col
{
    background: linear-gradient(90deg, var(--logo1), var(--logo2)) !important;
    overflow: hidden;
    padding: 10px 20px 20px;
    color: white !important;
    border-radius: 20px;
}
.navbar-collapse .dropdown-menu .first-col h5
{
    color: #fff !important;
    font-size: 24px;
    font-weight: 600;
}
.navbar-collapse .dropdown-menu .first-col img
{
    border-radius: 10px;
}
.navbar-collapse .dropdown-menu .first-col a
{
    text-decoration: none   ;
}
.navbar-collapse .dropdown-menu .first-col p
{
    font-size: 14px;
}
.navbar-collapse .dropdown-menu .scnd-col
{
    padding: 10px 20px;
}
.navbar-collapse .dropdown-menu .scnd-col p
{
    font-weight: 600;
}
.navbar-collapse .dropdown-menu .scnd-col a
{
    font-size: 14px;
    padding:10px;
    transition: .2s ease;
}
.navbar-collapse .dropdown-menu .scnd-col a:hover, .navbar-collapse .dropdown-menu .third-col a:hover
{
    background:var(--logo1);
    color: #fff;
    border-radius: 20px;
}
.navbar-collapse .dropdown-menu .third-col
{
    padding: 30px 20px 10px 20px;
}
.navbar-collapse .dropdown-menu .list-group-item
{
    border: none;
}
.navbar-collapse .dropdown-menu .third-col a
{
    font-size: 14px;
    transition: .1s ease;
    padding: 10px;
}
.navbar-toggler
{
    padding:10px;
    border: none;
    outline:none;
    box-shadow: none;
}
.navbar-toggler i
{
    color: var(--textcolor);
}
.navbar-toggler i:hover
{
    color: var(--logo2);
}
.navbar-toggler:focus
{
    outline: none !important;
    box-shadow: none;
}
.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}




.navbar-collapse .dropdown-menu .first-col.bsnss
{
    background: linear-gradient(90deg, var(--logo1), var(--logo2)) !important;
}

.countries-list-tab
{
    display: none;
}
.country-change-icon
{
    margin-left: 20px;
}
.country-change-icon i
{
    color: var(--logo1);
    font-size: 24px;
    transition: .3s ease;
}
.country-change-icon i:hover
{
    color: var(--logo2);
}
.country-change-icon .dropdown-menu[data-bs-popper]
{
    right: 2% !important;
    top:80%;
    left: 85%;
}
.country-change-icon button
{
    background:none;
    border: none;
    outline: none;
    margin-top: 10px;
}
.country-change-icon .dropdown-menu[data-bs-popper]
{
    border: none;
    background:#fff;
    backdrop-filter: blur(30px);
    padding:10px !important;
    box-shadow: 0 0 20px #00000010;
    width: unset !important;
    transform: unset;
    border-radius: 10px;
}
.country-change-icon .dropdown-menu img
{
    width: 20px;
}
.country-change-icon .dropdown-menu li
{
    display: flex;
    padding:5px 10px;
    transition: .3s ease;
    border-radius: 5px;
}
.country-change-icon .dropdown-menu li:hover
{
    background: linear-gradient(45deg, var(--logo1), var(--logo2));
    box-shadow: 2px 2px 10px #25aae163;
}
.country-change-icon .dropdown-menu li:hover a
{
    color: #fff;
}
.country-change-icon .dropdown-menu li a
{
    padding:0;
    background:transparent;
    display: flex;
    align-items: center;
}
.dropdown-toggle::after
{
    color: var(--logo1);
}


/* BANNER SECTION */
#banner
{
    background-image: url('../img/banner/banner-4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    /* position: fixed; */
}
#banner h1
{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
#banner p
{
    font-size: 18px;
}
#banner .left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 0;
    gap:15px;
}
#banner .right
{
    display: flex;
    padding:40px;
    align-items: center;
}




/* ABOUT SECTION */
#aboutsection
{
    padding:5% 0;
}
#aboutsection .left
{
    padding:60px;
}
#aboutsection .left .img-div
{
    position: relative;
}
#aboutsection .left .img-div .abt-img-2
{
    position: relative;
    left: 0;
    top:0;
}
#aboutsection .left .img-div .abt-img-3
{
    position: absolute;
    left: 0;
}
#aboutsection .right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
#aboutsection .abt-img-1
{
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 0 10px #ffc3008a);
    animation: image-move 6s ease-in-out infinite;
    transform: translateY(10px);
}

@keyframes image-move
{
    0%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(10px);
    }

}




/* COMMON CONTENTS */
.content-para
{
    font-size: 16px;
    line-height: 24px;
}
.top-head
{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.main-head
{
    font-weight: 700;
    font-size: 36px;
}
.main-btn
{
    padding:8px 30px;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(90deg, var(--textcolor), var(--logo2));
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-size: 100% auto;
    margin-top:8px;
    transition: .3s ease;
    box-shadow: 4px 4px 20px #25aae182;
}
.main-btn:hover
{
    background-size: 300% auto;
}



/* SERVICE SECTION */
#servicesection
{
    padding:0 0 5% 0;

}
#servicesection .service-cards
{
    padding:10px;
    /* box-shadow: 0 0 10px #00000010; */
    /* border-radius: 30px; */
}
#servicesection .service-cards img
{
    border-radius: 10px;
}
#servicesection .service-cards h2
{
    font-size: 24px;
    font-weight: 600;
    margin-top:20px;
}
#servicesection .service-cards p
{
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
#servicesection .owl-carousel .owl-stage
{
    padding:20px 0;
}
#servicesection .card-details
{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
}
#servicesection .service-cards .service-btn
{
    padding:10px 20px;
    background: var(--logo1);
    font-size: 14px;
    color:#fff;
    text-decoration: none;
    width: fit-content;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#servicesection .service-cards .service-btn::before
{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 0%;
    height: 100%;
    background: var(--logo2);
    transition: .3s ease;
    z-index: -1;
    /* transform: translateX(-100%); */
}
#servicesection .service-cards .service-btn:hover::before
{
    /* transform: translateX(0); */
    width: 100%;

}



/* CALL ACTION SECTION */
#first-cta
{
    padding:0 0 5% 0;

}
#first-cta .container-fluid
{
    padding:0;
}
#first-cta .cta-box
{
    background-image:url(../img/cta-bg.jpg) ;
    background-size: cover;
    background-position:center center;
    padding:140px 20px;
    /* border-radius: 20px; */
}
#first-cta .cta-box .right
{
    padding-right:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
#first-cta .cta-box .right button
{
    padding:10px 30px;
    font-size:18px;
    font-weight: 600;
    border: none;
    outline: none;
    width: fit-content;
    transition: .3s ease;
    /* border-radius: 5px; */
}
#first-cta .cta-box .right button:hover
{
    background:var(--logo2);
    color:#fff;
}
#first-cta .cta-box h3
{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
#first-cta .cta-box p
{
    color:#fff;
    width: 80%;
}






/* PRODUCT SECTION */
#productssection
{
    padding:0 0 5% 0;

}
#productssection .products .items
{
    /* background:var(--textcolor); */
    border-radius: 10px;
}
#productssection .img-div
{
    padding:10px;
}
#productssection .products .items .prdct-details h2
{
    font-size: 24px;
    font-weight: 600;
    /* margin-top:20px; */
}
#productssection .products .items img
{
    box-shadow: 0 0 10px #00000010;
    border-radius: 10px;
}
#productssection .products .items .prdct-details
{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#productssection .products .items .prdct-details .prdct-card
{
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(90deg, var(--logo2
    ), var(--logo1));
    background-size: 100% auto;
    margin:0;
    text-decoration: none;
    padding: 5px 10px;
    width: fit-content;
    color: #fff;
    transition: .3s ease;
    border-radius: 3px;
    box-shadow: 4px 4px 10px #25aae182;
}
#productssection .products .items .prdct-details .prdct-card:hover
{
    background-size: 200% auto;

}
#productssection .products .items .prdct-details
p
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 16px;
    /* margin-top:10px; */
}
#productssection .owl-carousel .owl-stage
{
    padding: 30px 0;
}



/* WHYCHOOSE SECTION */
#whychoose
{
    padding:0 0 5% 0;
    
}
#whychoose .left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
#whychoose .img-div
{
    position: relative;
}
#whychoose .img-div .why-img-1
{
    position: relative;
    left: 0;
    top: 0;
    animation: imagemove1 6s ease-in-out infinite;
    filter: drop-shadow(4px 4px 10px #da78076a);
}
#whychoose .img-div .why-img-2
{
    position: absolute;
    left: 0;
    top: 0;
    animation: imagemove2 6s ease-in-out infinite;
    filter: drop-shadow(4px 4px 10px #da78076a);

}

@keyframes imagemove1
{
    0%
    {
      transform: translateY(0);  
    }
    50%
    {
        transform: translateY(20px);  
    }
    100%
    {
        transform: translateY(0);  
    }
}
@keyframes imagemove2
{
    0%
    {
      transform: translateY(0);  
    }
    50%
    {
        transform: translateY(-20px);  
    }
    100%
    {
        transform: translateY(0);  
    }
}






#contactsection
{
    padding: 0 0 5% 0;
}
#contactsection .container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactsection .contact-box
{
    background:linear-gradient(90deg, var(--textcolor), var(--logo2));
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    gap:15px;
    box-shadow: 0px 0px 30px #1babe982;
}
#contactsection .contact-box .contact-btn
{
    padding:10px 40px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    color:var(--textcolor);
    text-decoration: none;
    border-radius: 5px;
    transition: .3s ease;
    color: var(--textcolor);
    box-shadow: 3px 3px 20px #ffffff99;
}
#contactsection .contact-box .contact-btn:hover
{
    background:var(--textcolor);
    color: #fff;
    box-shadow: 3px 3px 20px #25aae175;

}
#contactsection .contact-box h2
{
    font-size: 30px;
    color:#fff;
    font-weight: 700;
}
#contactsection .contact-box p
{
    color:#fff;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    width: 80%;

}


#footersection
{
    padding:4% 0 0 0;
    background:linear-gradient(0deg, #e0f6ff, transparent);
}
#footersection .footer-logo
{
    width: 70%;
}
#footersection ul
{
    padding: 0;
    margin: 0;
}
#footersection ul a
{
    text-decoration: none;
    color: var(--textcolor);
    position: relative;

}
#footersection ul a::before
{
    content: '';
    position: absolute;
    left: -10px;
    font: var(--fa-font-solid);
    /* top:50%; */
    /* width: 5px; */
    /* height: 3px; */
    /* background: red; */
}
#footersection ul li
{
    list-style-type: none;
    margin-bottom: 5px;
}
#footersection h2
{
    font-weight: 600;
    color: var(--logo1);
    font-size: 24px;
    margin-bottom:20px;
    position: relative;
}
#footersection h2::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 20px;
    width: 20%;
    background: var(--logo2);
}
#footersection .copyright
{
    background: var(--logo2);
    padding:10px;
    margin-top:20px;
}
#footersection .copyright p
{
    text-align: center;
    color: #fff;
    font-size: 14px;
}
#footersection .contact div
{
    display: flex;
    margin-bottom: 5px;
}
#footersection .contact div i
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    color: var(--logo2);
    transition: .3s ease;
}
#footersection .contact div i:hover
{
    color: var(--logo1);

}
#footersection .contact p
{
    color: var(--textcolor);
}
#footersection .location div
{
    display: flex;
    gap:10px;
}
#footersection .location div i
{
    display: flex;
    margin-top:5px;
    color: var(--logo2);
    transition: .3s ease;
}
#footersection .location p
{
    color: var(--textcolor);
}
#footersection .location div i:hover
{
    color: var(--logo1);
}



@media only screen and (max-width: 992px)
{
    #banner .left
    {
        padding:30% 0 0%
    }


    .countries-list-tab
    {
        display: block;
    }

    .country-change-icon
    {
        display: none;
    }

    .navbar-collapse .dropdown-menu[data-bs-popper]
    {
        transform: unset;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        width: 100% !important;
    }
    .navbar-collapse .dropdown-menu .first-col
    {
        display: none;
    }
    .navbar-collapse .dropdown-menu .scnd-col
    {
        padding:10px;
    }
    .navbar-collapse .dropdown-menu .third-col a,  .navbar-collapse .dropdown-menu .scnd-col a
    {
        background:transparent;
        color: var(--logo1);
        padding:5px;

    }
    .navbar-collapse .dropdown-menu .scnd-col p,
    .navbar-collapse .dropdown-menu .third-col p
    {
        background: transparent;
        color: var(--logo1);
    }


    #first-cta .cta-box
    {
        padding:60px 0;
    }
    #first-cta .cta-box p
    {
        width: 100%;
    }


    #whychoose .right
    {
        display: flex;
        justify-content: center;
    }

    #contactsection .contact-box
    {
        width: 100%;
    }
    
}





@media only screen and (max-width: 768px)
{
    #banner .left
    {
        padding:10% 20px 0;
        gap:10px;
    }
    #banner .right
    {
        padding: 10px;
    }
    #banner h1
    {
        font-size: 26px;
        line-height: 32px;
    }
    #banner p
    {
        font-size: 16px;
        line-height: 22px;
    }
    .navbar-collapse .dropdown-menu .third-col
    {
        padding: 0 10px;
    }
    .navbar-collapse .dropdown-menu .scnd-col
    {
        padding: 0 10px;
    }

    .main-btn
    {
        font-size:14px;
    }
    .main-head
    {
        font-size: 26px;
    }
    .content-para
    {
        line-height: 22px;
    }


    #aboutsection
    {
        padding: 10% 0;
    }
    #aboutsection .left
    {
        padding:60px 20px;
    }
    #aboutsection .right
    {
        gap:5px;
        padding:0 20px;
    }
    

    #servicesection .owl-carousel .owl-stage
    {
        padding:10px 0;
    }
    #servicesection .card-details
    {
        padding: 0;
    }



    #first-cta
    {
        padding:0 0 10% 0;
    }
    #first-cta .cta-box
    {
        padding:50px 20px;
    }
    #first-cta .cta-box h3
    {
        font-size: 30px;
    }
    #first-cta .cta-box .right
    {
        gap:10px;
        padding-right: 0px;
    }
    #first-cta .cta-box .right button
    {
        font-size: 14px;
        padding: 5px 20px;
    }


    #productssection
    {
        padding:0 0 10% 0;
    }
    #productssection .owl-carousel .owl-stage
    {
        padding:10px 0;
    }

    #whychoose .left
    {
        padding:0 20px;
    }
    #whychoose .right
    {
        padding:30px 20px;
    }

    #contactsection .container
    {
        padding:0 30px;
    }
    #contactsection .contact-box
    {
        padding:30px;
        gap:10px;
        box-shadow: 0px 0px 20px #1babe982;
    }
    #contactsection .contact-box h2
    {
        font-size: 24px;
        text-align: center;
    }
    #contactsection .contact-box p
    {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }
    #contactsection .contact-box .contact-btn
    {
        font-size: 14px;
        padding:5px 30px;
    }
    

    #footersection .footer-logo
    {
        width: 50%;
    }
    #footersection .foot-logo, #footersection .links, #footersection .location, #footersection .contact
    {
        padding: 0 20px;
    }
    #footersection ul
    {
        margin-left: 25px;
    }
    #footersection .copyright p
    {
        font-size: 12px;
    }
}

























/* ABOUT PAGE STYLE */
#about-page-banner
{
    height: 70vh;
    background-image: url("../img/banner/about-banner.jpg");
    background-size: cover;
    background-position: center top;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
}
#about-page-banner .left
{
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:40px;
}



#abt-contents
{
    padding:5% 0;
}
#abt-contents .left
{
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#abt-contents .left .img-div
{
    position: relative;
}
#abt-contents .left .abt-img-1
{
    position: relative;
    z-index: 2;
    animation: float 6s ease infinite 3s;
}
#abt-contents .left .abt-img-2
{
    position: absolute;
    left: 0;
    animation: float 6s ease infinite 3s;
    animation-delay: 1000ms;

}
#abt-contents .left .abt-img-3
{
    position: absolute;
    left: 0;
    animation: float 6s ease infinite 3s;
    animation-delay: 2000ms;

}
#abt-contents .right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
@keyframes float
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-20px);
    }
    100%
    {
        transform: translateY(0);
    }
}

#abt-contents .abt-img-4
{
    /* animation: rotate 6s ease infinite; */
}
@keyframes rotate
{
    0%
    {
        transform: rotate(1deg);
    }
    50%
    {
        transform: rotate(-1deg);
    }
    100%
    {
        transform: rotate(1deg);
    }
}

#abt-contents .abt-cntnt .img-div
{
    position: relative;
}
#abt-contents .abt-img-4
{
    position: relative;
}
#abt-contents .abt-img-5
{
    position: absolute;
    left: 0;
}




#objectives
{
    background: url('../img/about-section/mission-bg.jpg');
    background-size:cover ;
    background-position: left center;
    height: 100%;
    padding:5% 0;
    margin:0 0 5%;
}
#objectives .cards
{
    padding:20px;
    /* background: red; */
}
#objectives .cards img
{
    width: 5%;
    margin-bottom:10px;
}
#objectives h1
{
    font-size: 28px;
    font-weight: 700;
}
#objectives p
{
    width: 90%;
}
#objectives .right
{
    display: flex;
    flex-direction: column;
    gap:5px;
}


@media only screen and (max-width: 992px)
{
    #about-page-banner
    {
        height: 30vh;
    }
    #about-page-banner .left
    {
        margin-top:60px;
    }

    #abt-contents .left
    {
        padding: 0 0 60px;
    }

    #abt-contents .abt-cntnt .img-div
    {
        padding:40px 0;
    }

    #objectives
    {
        background:url('../img/about-section/mission-bg-tab.jpg');
        background-size: cover;
        background-position: center center;
    }
    #objectives p
    {
        width: 60%;
    }
    #objectives .cards
    {
        padding:20px 0;
    }
    #objectives .cards img
    {
        width: 10%;
    }
}

@media only screen and (max-width: 768px)
{

    #about-page-banner
    {
        height: 40vh;
        background-position: center left;
    }
    #about-page-banner .left
    {
        padding:0 20px;
        margin-top:100px;
    }

    #abt-contents .left
    {
        padding: 0 20px 40px;
    }
    #abt-contents .right
    {
        padding: 0 20px;
    }
    #abt-contents .abt-cntnt .img-div
    {
        padding:10px 20px 30px;
    }
    #abt-contents .abt-cntnt .abt-scnd-para
    {
        padding: 0 20px;
    }


    #objectives
    {
        background:none;
    }
    #objectives .right
    {
        padding:0 20px;
    }
    #objectives p
    {
        width: 100%;
    }
    #objectives .cards img
    {
        width: 20%;
    }
}



























/* CONTACT PAGE STYLE */
#contact-page-section
{
    background: url('../img/banner/contact-banner.jpg');
    background-size: cover;
    height: 80vh;
    background-position: center center;
}
#contact-page-section .main-head
{
    padding-top:15%;
}


#contactus
{
    /* padding:30px; */
    position: relative;
    margin-bottom:60px;
}
#contactus h4
{
    font-weight: 600;
    font-size: 26px;
}
#contactus .contact-div
{
    border-radius: 20px;
    overflow: hidden;
    margin-top:-140px;
    background: #fff;
    box-shadow: 0 0 30px #00000010;
}
#contactus .contact-div .left
{
    padding:40px 50px;
}
#contactus .contact-div .left input, #contactus .contact-div .left textarea
{
    width: 100%;
    outline: none;
    border: none;
    background:#f6f9ff;
    padding:10px 20px; 
    border-radius: 25px;
}
#contactus .contact-div .left input::placeholder, #contactus .contact-div .left textarea::placeholder
{
    font-size: 14px;
    color: #0a106884;
}
#contactus .contact-div .right
{
    padding: 40px 60px;
    background:linear-gradient(-90deg, #1c98ca,#0f5a95);
    position: relative;
}
#contactus .contact-div .right .logo-white
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    opacity: .2;
    transform: rotate(-30deg);
}
#contactus .contact-div .right p, #contactus .contact-div .right h4, #contactus .contact-div .right i
{
    color:#fff;
}
#contactus .contact-div .right .cont-details
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    gap:30px;
}
#contactus .contact-div .right .cont-details div
{
    display: flex;
    gap:25px;
}
#contactus .contact-div .right .cont-details i
{
    margin-top:5px;
    font-size: 18px;
}
#contactus .contact-div .right .cont-details .address, #contactus .contact-div .right .cont-details .phone
{
    /* margin-top:20px; */
}
#contactus .contact-div .left .cnt-button
{
    display: flex;
    justify-content: end;
}
#contactus .contact-div .left .cnt-button .cntc-btn
{
    outline: none;
    border: none;
    background: linear-gradient(90deg, var(--logo1
    ),var(--logo2));
    padding:10px 40px;
    width: fit-content;
    color:#fff;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 3px 3px 20px #25aae175;
    background-size: 100% auto;
    transition: .3s ease;
}
#contactus .contact-div .left .cnt-button .cntc-btn:hover
{
    background-size: 200% auto;
}
#contactus .contact-div .right .cont-details .social-media a
{
    text-decoration: none;
}
#contactus .contact-div .right .cont-details .social-media i
{
    padding:15px;
    background: var(--logo2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: .3s ease;
}
#contactus .contact-div .right .cont-details .social-media i:hover
{
    background: var(--textcolor);
}



#map
{
    margin-bottom:60px;
}
#map iframe
{
    width: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 992px)
{
    #contact-page-section .main-head
    {
        padding-top: 25%;
        font-size: 32px;
    }
    #contact-page-section
    {
        height: 43vh;
        background-position: -400px center;
    }
    #contactus .contact-div .right
    {
        padding:60px;
    }
    #contactus .contact-div .left .cnt-button
    {
        justify-content: center;
    }
    #contactus .contact-div .left .cnt-button .cntc-btn
    {
        width: 40%;
    }
    #contactus .contact-div
    {
        margin-top:-100px;
    }
}


@media only screen and (max-width: 768px)
{
    #contact-page-section
    {
        height: 45vh;
        background-position:center left;
    }
    #contact-page-section .container
    {
        padding:0 20px;
    }
    #contact-page-section .main-head
    {
        padding-top: 40%;
        font-size: 26px;
    }
    

    #contactus .container
    {
        padding:0 20px;
    }
    #contactus .contact-div .right
    {
        padding:60px 40px;
    }
    #contactus .contact-div .left .cnt-button .cntc-btn
    {
        width: 100%;
    }
    #contactus .contact-div .right .cont-details div
    {
        gap:10px;
    }

    #map .container
    {
        padding:0 20px;
    }
    
}

















/* CAREER PAGE BANNER */
#career-page-banner
{
    height: 70vh;
    background: url('../img/banner/career-page-banner.jpg');
    background-size:cover;
    background-position: center center;
}
#career-page-banner .left
{
    padding-top: 20%;
}

#careerpara-1
{

}
#careerpara-1 .left, #careerpara-1 .right
{
    padding:60px 20px;
}
#careerpara-1 .left img
{
    border-radius: 20px;
}
#careerpara-1 .right .main-head
{
    font-size: 30px;
}
#careerpara-1 .right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}





#openings
{
    padding:4% 0 8% 0;
}
#openings .main-head
{
    font-size: 30px;
}
#openings .open-div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    row-gap: 50px;
}
#openings .open-div .main-head
{
    font-size: 26px !important;
    color: #fff !important;
}
#openings .open-div .open-items
{
    box-shadow: 3px 3px 10px #2546e18f;
    background: linear-gradient(90deg, var(--textcolor),var(--logo2));
    background-size: 400% auto;
    padding:40px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}
#openings .open-div .open-items .logo
{
    position: absolute;
    right:10px;
    top:10px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#openings .open-div .open-items .logo img
{
    width: 60%;
    margin-top:-5px;
}
#openings .open-div .apply-div
{
    display: flex;
    justify-content: center;
}
#openings .open-div .open-items .apply-btn
{
    position: absolute;
    bottom:-20px;
    background:var(--logo2);
    color: #fff;
    padding:10px;
    outline: none;
    border: none;
    border-radius: 10px;
    /* transform: translateY(50px); */
    width: 80%;
    font-weight: 600;
    box-shadow: 0 0 10px #25aae1ad;
    transition: .3s ease;
}
#openings .open-div .open-items .apply-btn:hover
{
    background: #fff;
    color: var(--textcolor);
}
#openings .open-div .open-items p
{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
#openings .open-div .open-items .career-bold
{
    font-weight: 600;
}






#applysection
{
    padding:0 0 4% 0;
}
#applysection .modal-main
{
    background: #000000bf;
    width: 100%;
    height: 100%;
    position: fixed;
    top:-50%;
    z-index: 1000;
    /* top:-100%; */
    transition: .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-animation
{
    top:0 !important;
    visibility: visible !important;
    opacity: 1 !important;
}
.overflow-scroll-rem
{
    height: 100vh;
    max-height:100vh ;
    overflow-y: hidden;
}
#applysection .formsection
{
    padding:40px;
    box-shadow: 0 0 20px #00000020;
    border-radius: 20px;
    background:#fff;
    width: 75%;
}
#applysection .formsection .modal-head
{
    display: flex;
    justify-content: space-between;
}
#applysection .formsection .close
{
    cursor: pointer;
    font-size: 24px;
    color: var(--textcolor);
}
#applysection input
{
    width: 100%;
    padding:10px 20px;
    border: 1px solid #c6c6c6;
    border-radius: 30px;
}
#applysection input::placeholder
{
    font-size: 14px;
}
#applysection input:focus-visible
{
    border: none !important;
    outline: 1px solid var(--logo2);
}
#applysection .formsection .career-btn-div
{
    display: flex;
    justify-content: center;
}
#applysection .formsection .career-btn
{
    outline: none;
    border: none;
    width:40%;
    padding:10px 20px;
    border-radius: 30px;
    background:var(--logo2);
    background-size: 100% auto;
    color: #fff;
    font-weight: 600;
    box-shadow: 2px 2px 20px #25aae175;
    transition: .3s ease;
}
#applysection .formsection .career-btn:hover
{
    background:var(--textcolor);
}

#applysection .upload
{
    position: relative;
}
#applysection .upload-resume
{
    position: absolute;
    position: absolute;
    width: 60%;
    background: transparent;
    border: 1px solid var(--logo2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
}


@media only screen and (max-width: 992px)
{
    #career-page-banner .left
    {
        padding-top: 30%;
    }
    #career-page-banner
    {
        height: 43vh;
        background-position: -450px center;
    }
    #career-page-banner .main-head
    {
        width: 50%;
    }
    #careerpara-1 .left
    {
        padding:60px;
    }
    #careerpara-1 .right
    {
        padding: 20px 0;
    }

    #openings .open-div
    {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    #applysection
    {
        padding: 5% 0;
    }
}

@media only screen and (max-width: 768px)
{
    #careerpara-1 .left
    {
        padding: 40px 20px;
    }
    #career-page-banner
    {
        background-position: center left;
    }
    #career-page-banner .left
    {
        padding:48% 20px 0;
    }
    #career-page-banner .main-head
    {
        width: 100%;
    }
    #careerpara-1 .right
    {
        padding:20px;
    }
    #careerpara-1 .right .main-head
    {
        font-size: 26px;
    }

    #openings .open-div
    {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    #openings .container
    {
        padding:20px;
    }


    #applysection .container
    {
        padding:0 20px;
    }
    #applysection .formsection
    {
        padding: 40px 30px;
    }
    #applysection .formsection .career-btn
    {
        width: 100%;
    }
    #applysection .upload-resume
    {
        
    }
}